.drop__container,
.drop__container_disable {
    position: relative;
    width: 100%;
    height: 40px;
}

.drop__container .select-selected {
    width: 100%;
    border-radius: 8px;
    border: solid 1px var(--gray-lighter);
    background-color: #fff;
    color: #2d2d2d;
    outline: none;
}

.drop__container.error .select-selected {
    border: solid 1px var(--alert);
}

.drop__container .icon,
.drop__container_disable .icon,
.drop__container .drop__clear,
.drop__container_disable .drop__clear {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop__container .drop__clear,
.drop__container_disable .drop__clear {
    right: 34px;
}

.drop__container .select-items .option,
.select-selected {
    padding: 10px 16px;
    padding-right: 36px;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: var(--black);
    cursor: pointer;
}

.drop__container_disable .select-items {
    display: none;
}

.drop__container .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0 0 8px 8px;
    border: none;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 0;
    overflow-y: overlay;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.drop__container .select-items .option:hover {
    background-color: oldlace;
}

.drop__container.active {
    &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 5px;
        bottom: 0;
        z-index: 8;
    }
}

.drop__container.active .select-items {
    max-height: 200px;
    box-shadow: 0 0 2px 0 var(--mango), 0 0 3px 1px var(--mango);
    border-top: none;
}

.drop__container.active .select-selected {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 2px 0 var(--mango), 0 0 3px 1px var(--mango);
    border-color: white;
}

.drop__container.active .select-selected ~ .line {
    display: block;
}

.drop__container.active .select-selected ~ .icon {
    transform: rotate(90deg);
}
