.errorMsg {
	display: none;

	&.active {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 6px;
		background-color: white;
		padding: 6px;
		border-radius: 4px;
		text-shadow: none;
	}

	& > .icon {
		margin-right: 6px;
	}

	& > .text {
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.4px;
		color: var(--errorMsg);
	}
}
