.galleryItem {
    display: flex;
    font-size: 14px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;

    & .img{
        height: 12rem;
        margin-bottom: 4px;

        @media screen and (max-width: 600px) {
            height: 8rem;
        }
    }

    & .name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: gray;

        @media screen and (max-width: 600px) {
            font-size: 12px;
        }
    }

    &:hover {
        & .name {
            color: var(--black);
        }
    }
}
