<div id="modalID" class="modal">
    <div class="modalWrapper">
        <div class="content">
            <div class="top">
                <img class="icon" src="../../Images/icon/edit-white.svg" />
                <div class="title">標題</div>
            </div>
            <div class="middle">
                內文
            </div>
            <div class="bottom">
                <div class="buttonGroup">
                    <button class="button btn-hollow modalCancel">
                        取消
                    </button>
                    <button class="button modalConfirm">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>