.notice {
	opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    font-size: 0.8rem;
    transition: all 0.5s ease;
    padding: 4px 0 4px 8px;
    line-height: 1;
    height: 32px;

    & > .left {
        display: flex;
        align-items: center;

        & > .icon {
            width: 20px;
            margin-right: 8px;
        }
    }

    & > #closeSpeaker {
        color: #82878f;
        padding: 6px 8px;
        border-left: 1px solid #d3d3d3;

        &:hover {
            opacity: 60%;
        }
    }
}
